<header>
  <nav>
    <a href="/" id="title"><%= title %></a>
    <h1 id="path-name"><%= page %></h1>
    <ul>
      <li class="dropdown">
        <h3>things to see</h3>
        <ul class="sub-menu">
          <li>
            <%- link_to('music', '/music') %>
          </li>
          <li>
            <%- link_to('art', '/art') %>
          </li>
          <li>
            <%- link_to('about/press', '/about') %>
          </li>
          <li>
            <%- link_to('contact', '/contact') %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>