<header>
  <a href='/'><%= title %></a>
  <div class="navbar">
    <%- link_to('music', '/music') %>
    <%- link_to('art', '/art') %>
    <%- link_to('about/press', '/about') %>
    <%- link_to('contact', '/contact') %>
  </div>
</header>