<!DOCTYPE html>
<html>
  <%- include partials/_head %>
  <body>
    <%- include partials/_header.ejs %>
    <%- link_to('music', '/music') %>
    <%- link_to('art', '/art') %>
    <%- link_to('about/press', '/about') %>
    <%- link_to('contact', '/contact') %>
  </body>
</html>
