<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- link_to('music', '/music') %>
    <%- link_to('art', '/art') %>
    <%- link_to('about/press', '/about') %>
    <%- link_to('contact', '/contact') %>
  </body>
</html>
